{% extends "base.html" %}

{% block content %}
<!-- +++++ Contact Section +++++ -->
  
  <div class="container pt">
    <div class="row mt">
      <div class="col-lg-6 col-lg-offset-3 centered">
        <h3>CONTACT ME</h3>
        <hr>
        <!-- <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p> -->
      </div>
    </div>
    <div class="container clearfix">
                <style><!--
.caddress, .cfax{
display: none;
}
--></style>
<h3>Email</h3>
<p>You can reach me out to at my mail <a href="mailto:{{person.emailAddress}}">:{{person.emailAddress}}</a></p>
<h3>Voice</h3>
<div class="skype"><strong>Skype id:</strong> {{person.skypeId}}</div>
<div class="cphone"><strong>Phone:</strong> {{person.mobileNumber}}</div>
<h3>Other</h3>

                            </div>
    <div class="row mt">  
      <div class="col-lg-8 col-lg-offset-2">
        <form role="form"><h3>OR YOU CAN FILL THIS FORM TO CONNECT WITH ME<h3>
        <br>

          <div class="form-group">
            <input type="name" class="form-control" id="NameInputEmail1" placeholder="Your Name">
            <br>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <br>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="subjectEmail1" placeholder="Subject">
            <br>
          </div>
          <textarea class="form-control" rows="6" placeholder="Enter your text here"></textarea>
            <br>
          <button type="submit" class="btn btn-success">SUBMIT</button>
        </form>         
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
  
 {% endblock %}