<!-- +++++ Footer Section +++++ -->
  <style >
    
  </style>
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4 style="font-family: 'Montserrat', sans-serif;
    font-weight: 700;font-size: 18;">
    My Address</h4>          <p style="line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;">
            {{person.locality}},<br>
            {{person.userLocation}} 
            
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>My Links</h4>
          <p style="line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;">
            <a href="{{person.fbUrl}}">Facebook</a><br/>
            <a href="{{person.linkedinUrl}}">LinkedIn</a><br/>
            <a href="{{person.githubUrl}}">Github</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>About the site</h4>
         <p style="line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;">This site is built using Python Django framework using Postgres database</p>
    <p>Online users: {{ request.online_now.count }}</p> 
        </div><!-- /col-lg-4 -->
     
      </div>
    
    </div>
  </div>