{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered">
                    <img src="{% static 'img\user.png' %}" alt="Joun">
                    <h1>Welcome to my website!</h1>
          <h2>Hi, I am {{person.userName}}!</h2>
          <p style="font-weight: normal !important;
font-style: normal !important;
">Hello everybody. I'm {{person.fullName}}<br>
           {{person.userbio}}.</p>
          </div>
          </div>
          </div>
          </div>

          
        {% endblock %}  
       
  <!-- +++++ Projects Section +++++ -->