{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-6">
        <h1></h1>
        <p class="lead">Education and work experience. <a href="{{'/media/latestResume.pdf'}}">(PDF)</a></p>
        <!-- 
        <p>Looking back I have covered a nice base through my studies in computer engineering which have involved a B.S. in electrical and computer engineering where I worked closely with hardware, a minor in mathematics and an M.S. in data mining and parallel computing. I love using all of these fields..</p>
        <p>I love working with data and ...</p> 
        <p>I have a range of </p>
        -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Education</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <p>9.2014</p>
        <p>M.S. (Computer Science), The University of Tokyo, Information Science and Technology, Department of Computer Science</p>
        <p>5.2011</p>
        <p>B.S. (Computer Engineering), Purdue University, School of Electrical and Computer Engineering</p>
        <p>5.2010</p>
        <p>Researcher (Computational Biology), National Cheng Kung University</p>
        <p>8.2009</p>
        <p>Researcher (Computer Engineering), Tohoku University</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <h2>Publications</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <p>Feng, Z., Alfaro-Murillo, J. A., DeAngelis, D. L., Schmidt, J., Barga, M., Zheng, Y., ... & Bryant, J. (2012). Plant toxins and trophic cascades alter fire regime and succession on a boreal forest landscape. Ecological Modelling, 244, 79-92.</p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6">
      <h2>Work Experience</h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <p>4.2015 ~ Present</p>
        <p>Software Engineer, Rakuten, Tokyo, Japan</p>
        <p>2013 ~ 2015</p>
        <p>Software Engineer, Capy, Inc., Tokyo, Japan</p>
        <p>9.2011 ~ 3.2012</p>
        <p>System Developer, Technology Services Group, Chicago, IL</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
