{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<<!-- div class="container">

  <div class="page-header" id="banner">
    <div class="row">
    <div class="col-xs-12">
        <h1>CV</h1>

        <br>

        <div class="row">

            <div class="col-xs-12 col-md-3">
                <h3>Education</h3>
            </div>



            <div class="col-xs-12 col-md-8">
                <div>
                    <h4>BS Web Development <small>GPA 3.2</small></h4>
                    <h5>Champlain College <small>2013 - 2016</small></h5>
                    <ul class="horizontallist">
                        <li>Operating Systems,</li>
                        <li>Enterprise Database Systems,</li>
                        <li>Relational Database Design &amp; SQL,</li>
                        <li>Networking Fundamentals,</li>
                        <li>Internet and Web Architecture,</li>
                        <li>TCP/IP,</li>
                        <li>Wireless Networks,</li>
                        <li>Windows Server Admin,</li>
                        <li>Usability Web &amp; Software Design,</li>
                        <li>Linux Systems Administration I &amp; II,</li>
                        <li>Web Development I &amp; II,</li>
                        <li>Digital Photography,</li>
                        <li>Ethical Hacking,</li>
                        <li>Calculus</li>
                    </ul>
                </div>

                <br>

                <div>
                    <h4>Independent Coursework</h4>
                    <ul class="">
                        <li>Dry-Stack Rock Wall Workshop - Queen City Soil &amp; Stone</li>
                        <li>Intro To Linux Administration - The Linux Foundation EdX</li>
                        <li></li>
                    </ul>
                </div>

                <br>

                <div>
                    <h4>Certifications</h4>
                    <ul class="">
                        <li>1st Class License - Vermont DLC (2017 - 2019)</li>
                        <li>CPR &amp; First Aid - American Heart Association (2010 - 2012)</li>
                        <li></li>
                    </ul>
                </div>
            </div>

        </div>




        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3>Work Experience</h3>
            </div>

            <div class="col-xs-12 col-md-8">


                <div>
                    <h4>Front-End Web Developer</h4>
                    <h5>Contessa Fine Imports <small>May 2017 - Present</small></h5>
                    <p>Developed a web site for an importer of Polish linens, silks and woolens. Coded valid, semantic,
maintainable, responsive HTML and CSS to make a custom site that performs on all devices.
Implemented a English to French translation button with JavaScript. Created all digital images with
my product photography setup in my home office. Configured domains, email and hosting.
                    </p>
                </div>

                <br>

                 <div>
                    <h4>Front-End Web Developer</h4>
                    <h5>CashorTrade.org <small>April 2017 - Present</small></h5>
                    <p>Built valid, semantic, maintainable, responsive HTML and CSS templates then used Handlebars.js
to prepare them for the back-end developer. Used my knowledge of HTML5 Canvas and structural
elements, CSS transitions, pseudo-classes, and other modern techniques to replace bulky
JavaScript and 2004-era markup. Gave guidance on user-interface design. Gained experience
developing a social app with a large user base (150k+) and custom PHP framework. Created email
templates and promotional splash pages for marketing campaigns.</p>
                </div>

                <br>

                <div>
                    <h4>Founder &amp; Digital Pattern Maker</h4>
                    <h5>EnchantedSew <small>February 2017 - Present</small></h5>
                    <p>EnchantedSew creates unique stuffed toys and sewing patterns for fantasy
                        folklore lovers. Natural materials such as organic cotton and wool become
                        soft sculptures that will be cherished by children ages 7+.</p>
                </div>

                <br>


                <div>
                    <h4>Web Development Intern</h4>
                    <h5>City Of Burlington, Vermont <small>February 2016 - June 2016</small></h5>
                    <p>Created an ASP.NET web app to increase city efficiency.
                       Performed user research and interviews, created prototypes and high fidelity mockups, and
                        coded responsive HTML, CSS, jQuery in Visual Studio.</p>
                </div>

                <br>

                 <div>
                    <h4>Front-End Web Developer</h4>
                    <h5>Montroll, Backus &amp; Oettinger, PC <small>April 2015 - present</small></h5>
                    <p>Developed a web site for a law firm. Coded valid, semantic, maintainable, responsive HTML, CSS
and JavaScript to make a custom site that performs on all devices. Later redesigned the site and
transported it to Squarespace. Orchestrated the creation of content. Edited copy and took
professional portraits of the attorneys and environmental photography of the office building and
local community. Taught the staff how to update their own content. Created social media accounts
and taught the staff how to make quality postings. Configured domains, email, hosting, Google
Analytics and managed Google AdWords campaigns.
                    </p>
                </div>

                <br>

                <div>
                    <h4>Front-End Web Developer</h4>
                    <h5>Eric Eickmann <small>December 2014 – April 2015</small></h5>
                    <p>Developed a web site for a visual artist. Designed the web site to be engaging and understandable
with clean text and white space. Assisted with the creation of content for his site and strategies for
social media platforms. I coded the site from the ground up using HTML, CSS, Bootstrap and
jQuery. I gave special attention to smartphone user touch events and kept navigation easy and
forgiving. Ultimately, this project solidified a digital identity for Eric and launched him into
marketing himself online.
                    </p>
                </div>

                <br>

                <div>
                    <h4>Full-Stack Web Developer</h4>
                    <h5>Lyon I LLC <small>August 2014 - present</small></h5>
                    <p>Developed a web app for a property rentals and management company. Prospective tenants can
view the listings, their image galleries and their floor plans and search by number of bedrooms to
find a match. Used Django, Heroku, AWS, HTML, JavaScript and CSS. Additionally, I took
photographs of the properties for the landing page, designed a logo for the business and
developed text content.
                    </p>
                </div>

                <br>

                <div>
                    <h4>Community Support Worker</h4>
                    <h5>HowardCenter <small>April 2011 - April 2012</small></h5>
                    <p>One-on-one caretaker for boys aged 7-12 on the Autism spectrum and with attachment disorders.</p>
                </div>

                <br>

                <div>
                    <h4>Respite Care</h4>
                    <h5>Northeast Kingdom Human Services <small>December 2010 - April 2011</small></h5>
                    <p>Caretaker for individuals with developmental disabilities.</p>
                </div>

                <br>

                <div>
                    <h4>Housekeeper</h4>
                    <h5>Comfort Inn <small>August 2010 - December 2010</small></h5>
                    <p>Master of single-serving coffee packets, tiny soaps and shampoos; I can change and make a bed in five minutes.</p>
                </div>

                <br>

                <div>
                    <h4>Nursery Worker</h4>
                    <h5>Houghton's Greenhouses <small>March 2010 - August 2010</small></h5>
                    <p>In the early spring participated in the seasonal setup of the greenhouses, seed starting,
                        potting and transplanting, then in the summer provided hydration and nutrients to crops,
                        maintained appearance of perennials in displays, and helped customers select plants
                        based on their preferences and environmental conditions. Created a positive experience for visitors.</p>
                </div>

                <br>

                <div>
                    <h4>Florist Apprentice</h4>
                    <h5>A Daisy Daze <small>December 2009 - March 2010</small></h5>
                    <p>This experience instilled in me a sense of universal design principles - color, texture, shape,
                        size, value, and line. I had hands on practice arranging bouquets, helping customers select plants
                        and flowers from displays, maintaining the health of plants in displays, assisting with advertising,
                        and managing the checkout counter during the busy Christmas, Easter, and Valentine's Day holiday seasons.</p>
                </div>

                <br>

                <div>
                    <h4>Farm Hand/Cashier</h4>
                    <h5>Greg's Farm Stand <small>April 2008 - December 2009</small></h5>
                    <p>Planting vegetables, weeding and watering gardens, walking goats, collecting eggs,
                        picking berries, baking whoopie pies, and keeping Green Mountain coffee dispensers clean and full.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3>Independent Projects</h3>
            </div>

            <div class="col-xs-12 col-md-8">
                <div>
                    <h4>Python + Beautiful Soup Web Crawler and Email Scraper</h4>
                    <h5><a href="https://github.com/cssidy/100-python-programs/blob/master/emailCollector.py">See it on GitHub</a></h5>
                    <p>Starts with a random link to a web
page and saves all the links and email addresses it finds to an external file. Traverses the links.
Composes and sends emails to every email address. An exercise in bots, IMAP and SMTP.
                    </p>
                </div>

                <br>


                <div>
                    <h4>Python Reddit Bot</h4>
                    <h5><a href="https://github.com/cssidy/reddit-bots">See it on GitHub</a></h5>
                    <p>Uses the Reddit API to crawl posts, then makes a reply to all posts that
include certain keywords. An exercise in bots.
                    </p>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3>Talks/Events</h3>
            </div>

            <div class="col-xs-12 col-md-8">

                <div>
                    <h4>Sponsorship Coordinator</h4>
                    <h5>UX Burlington Conference <small>April 2017 - June 2017</small></h5>
                    <p>
                        Reached out to prospective sponsors using email and phone, demonstrated excellent
                        communication and pitch skills and coordinated sign ups via our web payment platform.
                        Generated new sponsorship relationships for the organization.
                    </p>
                </div>

                <br>

                <div>
                    <h4>Presenter of “Minecraft Hacking w/ Python &amp; Pi”</h4>
                    <h5>Burlington Python <small>March 2017</small></h5>
                    <p>
                        Presented at the Main Street Landing Performing Arts Center on programming Minecraft with Python 3.5 and Raspberry Pi.
                        I taught an audience of 14 how to use Python fundamentals such as conditional statements, loops and functions
                        to automate and inspire their Minecraft worlds. I demonstrated how to build large structures (diamond cubes, craters, lakes, pyramids,
                        rainbows and castles) without a single pickax swing, and how to use while loops to leave a trail of forest vegetation and trees in your
                        footsteps.
                    </p>
                </div>





            </div>



        </div>

        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3>Community</h3>
            </div>

            <div class="col-xs-12 col-md-8">

                <div>
                    <h4>Volunteer Gardener</h4>
                    <h5>Vermont Zen Center <small>October 2016</small></h5>
                    <p>Assisted in fall garden cleanup and maintenance/planting of perennials.</p>
                </div>

                <br>

                <div>
                    <h4>Volunteer Gardener</h4>
                    <h5>Vermont Community Garden Network Day In The Dirt <small>April 2016</small></h5>
                    <p>In order to beautify The Railyard and provide both educational and leisure gardens,
                        re-purposed salvaged building materials to create raised beds and container gardens.</p>
                </div>

                <br>

                <div>
                    <h4>Piano Player</h4>
                    <h5>The Riverside Life Enrichment Center <small>2009</small></h5>
                    <p>Played the piano and provided weekly entertainment to residents of the nursing home.
                        Played hits from the 50’s and 60’s, country, soft rock and pop genres, such as “Great
                        Balls Of Fire”, Elton John, The Beatles, “Moonlight in Vermont” and such.</p>
                </div>

                <br>

                <div>
                    <h4>Vermont Foodbank Volunteer</h4>
                    <h5>Sheffield Food Shelf <small>January 2008 - December 2009</small></h5>
                    <p>Every month unloaded pallets of produce, arranged and stocked tables, and
                        helped people select items during food shelf hours. Assisted in cleaning of town hall
                        and storing food items after the events.</p>
                </div>



            </div>
        </div>




    </div>
      <div class="col-lg-6">
        <h1></h1>
        <p class="lead">Education and work experience. <a href="{{'/media/latestResume.pdf'}}">(PDF)</a></p>
        <p>Looking back I have covered a nice base through my studies in computer engineering which have involved a B.S. in electrical and computer engineering where I worked closely with hardware, a minor in mathematics and an M.S. in data mining and parallel computing. I love using all of these fields..</p>
        <p>I love working with data and ...</p> 
        <p>I have a range of </p>
      </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-6">
      <h2>Education</h2>
          </div>
        </div>
      
        <div class="row">
          <div class="col-lg-12">
      <div class="well">
        <p>9.2014</p>
        <p>M.S. (Computer Science), The University of Tokyo, Information Science and Technology, Department of Computer Science</p>
        <p>5.2011</p>
        <p>B.S. (Computer Engineering), Purdue University, School of Electrical and Computer Engineering</p>
        <p>5.2010</p>
        <p>Researcher (Computational Biology), National Cheng Kung University</p>
        <p>8.2009</p>
        <p>Researcher (Computer Engineering), Tohoku University</p>
      </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
      <h2>Publications</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
      <div class="well">
        <p>Feng, Z., Alfaro-Murillo, J. A., DeAngelis, D. L., Schmidt, J., Barga, M., Zheng, Y., ... & Bryant, J. (2012). Plant toxins and trophic cascades alter fire regime and succession on a boreal forest landscape. Ecological Modelling, 244, 79-92.</p>
      </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
      <h2>Work Experience</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-12">
      <div class="well">
        <p>4.2015 ~ Present</p>
        <p>Software Engineer, Rakuten, Tokyo, Japan</p>
        <p>2013 ~ 2015</p>
        <p>Software Engineer, Capy, Inc., Tokyo, Japan</p>
        <p>9.2011 ~ 3.2012</p>
        <p>System Developer, Technology Services Group, Chicago, IL</p>
      </div>
    </div>
  </div>

</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <header class="main row">
        <div class="header">
            <div class="col-md-6 col-sm-12">
                <h2>{{person.fullName}}</h2>
                <h4>{{person.title}}</h4>
            </div>


            <div class="col-md-6 col-sm-12">
                <img class="img-rounded" alt="{{person.userName}}" style="height: 200px !important;" src="{% static 'img\myimg.jpg' %}">
            </div>
        </div>

        <div class="">
            <div class="col-md-6 col-sm-12">
            <dl class="contacts dl-horizontal" style="margin-top: -75px !important;">

                <dt>Address:</dt>
                <dd>{{person.userLocation}}</dd>

                <dt>Phone:</dt>
                <dd>{{person.mobileNumber}}</dd>

                <dt>Email:</dt>
                <dd>
                    <a href="mailto:{{person.emailAddress}}">
                        {{person.emailAddress}}
                    </a>
                </dd>

                <dt>Website:</dt>
                <dd>
                  <a href="https://joun-testapp.herokuapp.com">
                      https://joun-testapp.herokuapp.com
                    </a>
                </dd>

            </dl>
            </div>

            <div class="col-md-6 col-sm-12">
                <!-- <ul class="networks list-inline text-right">
                
                                    
                    <li>
                        <a href="{{person.githubUrl}}">
                            hanula @ github
                        </a>
                    </li>
                
                    <li>
                        <a href="https://www.linkedin.com/in/sebastianhanula">
                            sebastianhanula @ linkedin
                        </a>
                    </li>
                
                    <li>
                        <a href="https://plus.google.com/+SebastianHanula">
                            SebastianHanula @ google+
                        </a>
                    </li>
                
                </ul> -->
                <a class="btn btn-social-icon btn-facebook" href="{{person.fbUrl}}"><span class="fa fa-facebook"></span></a>
        
        <a class="btn btn-social-icon btn-github" href="{{person.githubUrl}}"><span class="fa fa-github"></span></a>
        <a class="btn btn-social-icon btn-google" href="mailto:{{person.emailAddress}}"><span class="fa fa-google"></span></a>
        <a class="btn btn-social-icon btn-linkedin" href="{{person.linkedinUrl}}"><span class="fa fa-linkedin"></span></a>
            </div>
        </div>
      </header>

      <section class="row">
        <header class="col-md-3">
          <h3>About</h3>
        </header>
        <div class="col-md-9">
            <h3></h3>
            Software engineer focused on performant web systems. Skilled Python programmer. More than 10 years of professional web development.
        </div>
      </section>


      
      <section class="row skills">
        <header class="col-md-3">
          <h3>Skills</h3>
        </header>
        <div class="col-md-9">
          <div class="row skills">

              
              <div class="col-md-6">
                <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Programming</h4>
                <ul>
                {% for languages  in techskills.languages  %}
                <li>{{languages}}</li>
                    
                {% endfor %}
                  
                  <!-- <li>Python, +10 years</li>
                  
                  <li>Javascript, +14 years</li>
                  
                  <li>CSS/HTML/HTML5, +15 years</li>
                  
                  <li>C/C++, intermediate, +8 years</li>
                  
                  <li>Bash, intermediate, +5 years,</li>
                  
                  <li>Go, novice, +2 years</li>
                  
                  <li>Rust, novice, +1 year</li>
                  
                  <li>PHP, not used anymore</li> -->
                  
                </ul>
              </div>

              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">BackEnd </h4>
                  <ul>
                     {% for BackEnds  in techskills.BackEnds  %}
                <li>{{BackEnds}}</li>
                    
                {% endfor %}
                  </ul>

              </div>

              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Databases </h4>
                  <ul>
                     {% for databases  in techskills.databases  %}
                <li>{{databases}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Devtools </h4>
                  <ul>
                     {% for Devtools  in techskills.Devtools  %}
                <li>{{Devtools}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">FrontEnd </h4>
                  <ul>
                     {% for FrontEnds  in techskills.FrontEnds  %}
                <li>{{FrontEnds}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
<div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Other Libraries </h4>
                  <ul>
                     {% for otherLibraries  in techskills.otherLibraries  %}
                <li>{{otherLibraries}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
              
              <div class="col-md-6" >
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Webservices </h4>
                  <ul>
                     {% for Webservices  in techskills.Webservices  %}
                <li>{{Webservices}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
              
              
              <!-- <div class="col-md-6">
                <h4>Technology</h4>
                <ul>
                  
                  <li>Git, Mercurial, Bazaar</li>
                  
                  <li>PostgreSQL</li>
                  
                  <li>MySQL</li>
                  
                  <li>Cassandra</li>
                  
                  <li>ElasticSearch</li>
                  
                  <li>Redis</li>
                  
                  <li>Memcached</li>
                  
                  <li>MongoDB</li>
                  
                  <li>Docker</li>
                  
                </ul>
              </div> -->
              
              <!-- <div class="col-md-6">
                <h4>Languages</h4>
                <ul>
                  
                  <li>Polish, Mother tongue</li>
                  
                  <li>English, Fluent</li>
                  
                  <li>German, Basic</li>
                  
                </ul>
              </div> -->
              

          </div>
        </div>
      </section>
      


      
      <section class="row">
        <header class="col-md-3">
          <h3>Work Experience</h3>
        </header>
        <div class="col-md-9">
            
          <div class="item">
          {% for company in companies %}
              
          
            <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">{{company.companyName}}</h4>
            <strong>{{company.companyRole}}</strong>

            
                <p class="sticky">{{company.joiningDate}} - {{company.leavingDate}}</p>
            

                        

            
                <p>{{company.workDescription}}</p>
            

            
            <ul>
                {% for role in company.projectRoles %}
                    <li>{{role}}</li>
                {% endfor %}
<!--                 <li>Frontend and backend development.</li>

<li><a href="https://en.wikipedia.org/wiki/Service-oriented_architecture">SOA</a> architecture. <a href="https://docker.com/">Dockerized</a> containers.</li>

<li>REST API server, distributed task queueing, web content extraction and analysis.</li>

<li>Python's <a href="http://www.pylonsproject.org/">Pyramid web framework</a> and  SQLAlchemy ORM framework.</li> -->
                
            </ul>
            {% endfor %}
            
          </div>
          
          <!-- <div class="item">
            <h3>Simbin AB</h3>
            <strong>Senior Python Backend Programmer</strong>
          
            
                <p class="sticky">2012 - 2014</p>
            
          
            
                <p class="sticky">
                    <a href="http://game.raceroom.com/">http://game.raceroom.com/</a>
                </p>
            
          
            
          
            
            <ul>
                
                <li>Developed Cassandra-based systems: generic content metadata, user activity feeds,</li>
                
                <li>ElasticSearch-based content search.</li>
                
                <li>Designed and developed game content permission system for users to buy, lend, and try content from the store. Dynamic permissions based on time, availability nad user properties like location, owned content and role groups.</li>
                
                <li>Custom Go-based statistics server which aggregates context based game activities and achivements.</li>
                
                <li>Introduced better quality with strong TDD, continous integration and development focus.</li>
                
                <li>Major role in design process of game features and services.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>Gemilo OY</h3>
            <strong>Python Web Developer</strong>
          
            
                <p class="sticky">2008 - 2012</p>
            
          
            
                <p class="sticky">
                    <a href="http://www.gemilo.com">http://www.gemilo.com</a>
                </p>
            
          
            
                <p>Front and back-end developement of large, multipurpose collaboration SaaS platform.
          </p>
            
          
            
            <ul>
                
                <li>Design and development on major system components: permission system, caching framework, comments and blogging systems.</li>
                
                <li>Development of in-house tools for Scrum management, server monitoring, Database migrations and more.</li>
                
                <li>Pylons web framework / PostgreSQL / Javascript.</li>
                
                <li>Strong TDD approach.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>Youplanet</h3>
            <strong>Javascript frontend developer</strong>
          
            
                <p class="sticky">2008</p>
            
          
            
          
            
                <p>Contracting job to help build a traveling site.</p>
            
          
            
            <ul>
                
                <li>Javascript tools and components.</li>
                
                <li>Google maps integration.</li>
                
                <li>Usability advisor.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>i123.pl</h3>
            <strong>Founder, Python Developer</strong>
          
            
                <p class="sticky">2006 - 2009</p>
            
          
            
                <p class="sticky">
                    <a href="http://i123.pl">http://i123.pl</a>
                </p>
            
          
            
                <p>Multiple service-oriented tools and a community portal. (video bookmarking, rss reader, TODO app, meta search engine).
          </p>
            
          
            
            <ul>
                
                <li>First big python project.</li>
                
                <li>www.i123.pl - Meta search engine, aggregating and prioritizing polish content from Google, Yahoo, MSN Search and polish search engines.</li>
                
                <li>rss.i123.pl - Personalized RSS feed reader.</li>
                
                <li>video.i123.pl - Personalized video aggregator. Users could upload own videos or use services like Youtube, Google Video, Vimeo, Metacafe (and others) to keep and share their videos.</li>
                
                <li>tudu.i123.pl - Javascript TODO app.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>Stbit</h3>
            <strong>Founder, Python/PHP developer</strong>
          
            
                <p class="sticky">2004 - 2006</p>
            
          
            
          
            
                <p>Consulting and web development agency.</p>
            
          
            
            <ul>
                
                <li>Plan, design and develop PHP software.</li>
                
                <li>Web security consulting.</li>
                
            </ul>
            
          </div> -->
          
       <!--  </div> -->
      </section>
      


      
      <section class="row">
        <header class="col-md-3">
          <h3>Projects</h3>
        </header>
        <div class="col-md-9">
            
          <div class="item">
            <h3>BetaFrontpage</h3>

            
                <strong>Frontend and backend developer</strong><br>
            

            
            <p class="sticky">8.2014</p>
            

            
                <p class="sticky">
                    <a href="http://www.betafrontpage.com">http://www.betafrontpage.com</a>
                </p>
            
            <p>BetaFrontpage lists startups frontpages. Full screenshots for inspiration and product discovery.</p>

            
            <ul>
                
                <li><a href="http://www.pylonsproject.org/">Pyramid web framework</a>.</li>
                
                <li><a href="https://docker.com/">Docker</a> for screenshot grabbing service.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>Wwwino.pl</h3>

            
                <strong>Developed web spider and search engine. Frontend and backend developement.</strong><br>
            

            
            <p class="sticky">2014 - Present</p>
            

            
                <p class="sticky">
                    <a href="http://wwwino.pl">http://wwwino.pl</a>
                </p>
            
            <p>Wine search engine and price comparator for Polish wine consumers.</p>

            
            <ul>
                
                <li><a href="http://www.pylonsproject.org/">Pyramid web framework</a>.</li>
                
                <li>ElasticSearch.</li>
                
                <li>Web scrapping.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>Piwwwo.pl</h3>

            
                <strong>Frontend and backend developer</strong><br>
            

            
            <p class="sticky">08-2014</p>
            

            
                <p class="sticky">
                    <a href="http://piwwwo.pl">http://piwwwo.pl</a>
                </p>
            
            <p>Piwwwo.pl is a beer journal and brewery database.</p>

            
            <ul>
                
                <li><a href="http://www.pylonsproject.org/">Pyramid web framework</a>.</li>
                
                <li>SQLAlchemy ORM framework.</li>
                
                <li>PostgreSQL database.</li>
                
            </ul>
            
          </div>
          
        </div>
      </section>
      

      
      <section class="row">
        <header class="col-md-3">
          <h3>Education</h3>
        </header>
        <div class="col-md-9">

          {% for study in education %}
             <div class="">
            <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">{{study.instituteName}}, {{study.instituteLocation}}</h4>
            <p>{{study.courseName}}</p>
            <p >{{study.courseDuration}}</p>
            
          </div>   
            {% endfor %}  
          
          
        </div>
      </section>
      

      
      <section class="row">
        <header class="col-md-3">
          <h3>Interests</h3>
        </header>
        <div class="col-md-9">

        <ul>
          
          <li>General Computer Science</li>
          
          <li>Web scalability and performance</li>
          
          <li>Science</li>
          
          <li>Astronomy</li>
          
          <li>Motorsport</li>
          
          <li>Football</li>
          
        </ul>
        </div>
      </section>
      


      <div class="footer ">
        <p class="pull-right">
          © 2017 {{person.userName}} |
          <a href="Sebastian_Hanula_Resume.pdf">Download PDF</a> |
          <a href="#" onclick="javascript:window.print(); return false">Print</a> |
          <a href="#">Top</a>
        </p>
        <p>
          Source on <a href="https://github.com/hanula/resume">github</a>
        </p>
      </div>

    </div>
  </div>
</div>
{% endblock %}
