{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="row">
  <a href="{% static 'latestResume.docx' %}" class="btn btn-default"><span class="glyphicon glyphicon-download-alt"></span> Download in PDF</a>
    <div class="col-md-8 col-md-offset-2">
    
      <header class="main row">
        <div class="header">
            <div class="col-md-6 col-sm-12">
                <h2>{{person.fullName}}</h2>
                <h4>{{person.title}}</h4>
            </div>


            <div class="col-md-6 col-sm-12">
                <img class="img-rounded" alt="{{person.userName}}" style="height: 200px !important;" src="{% static 'img\myimg.jpg' %}">
            </div>
        </div>
        

        <div class="">
            <div class="col-md-6 col-sm-12">
            <dl class="contacts dl-horizontal" style="margin-top: -75px !important;">

                <dt>Address:</dt>
                <dd>{{person.userLocation}}</dd>

                <dt>Phone:</dt>
                <dd>{{person.mobileNumber}}</dd>

                <dt>Email:</dt>
                <dd>
                    <a href="mailto:{{person.emailAddress}}">
                        {{person.emailAddress}}
                    </a>
                </dd>

                <dt>Website:</dt>
                <dd>
                  <a href="https://joun-testapp.herokuapp.com">
                      {{person.Mywebsite}}
                    </a>
                </dd>

            </dl>
            </div>

            <div class="col-md-6 col-sm-12">
               
                <a class="btn btn-social-icon btn-facebook" href="{{person.fbUrl}}"><span class="fa fa-facebook"></span></a>
        
        <a class="btn btn-social-icon btn-github" href="{{person.githubUrl}}"><span class="fa fa-github"></span></a>
        <a class="btn btn-social-icon btn-google" href="mailto:{{person.emailAddress}}"><span class="fa fa-google"></span></a>
        <a class="btn btn-social-icon btn-linkedin" href="{{person.linkedinUrl}}"><span class="fa fa-linkedin"></span></a>
            </div>
        </div>
      </header>

      <section class="row">
        <header class="col-md-3">
          <h3>About</h3>
        </header>
        <div class="col-md-9">
            <h3></h3>
            Software engineer focused on performant web systems. Skilled Python programmer. 2 years of professional web development.
        </div>
      </section>

      <section class="row skills">
        <header class="col-md-3">
          <h3>Skills</h3>
        </header>
        <div class="col-md-9">
          <div class="row skills">

              
              <div class="col-md-6">
                <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Programming</h4>
                <ul>
                {% for languages  in techskills.languages  %}
                <li>{{languages}}</li>
                    
                {% endfor %}
                  
                </ul>
              </div>

              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">BackEnd </h4>
                  <ul>
                     {% for BackEnds  in techskills.BackEnds  %}
                <li>{{BackEnds}}</li>
                    
                {% endfor %}
                  </ul>

              </div>

              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Databases </h4>
                  <ul>
                     {% for databases  in techskills.databases  %}
                <li>{{databases}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Devtools </h4>
                  <ul>
                     {% for Devtools  in techskills.Devtools  %}
                <li>{{Devtools}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
              <div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">FrontEnd </h4>
                  <ul>
                     {% for FrontEnds  in techskills.FrontEnds  %}
                <li>{{FrontEnds}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
<div class="col-md-6">
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Other Libraries </h4>
                  <ul>
                     {% for otherLibraries  in techskills.otherLibraries  %}
                <li>{{otherLibraries}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
              
              <div class="col-md-6" >
                  <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">Webservices </h4>
                  <ul>
                     {% for Webservices  in techskills.Webservices  %}
                <li>{{Webservices}}</li>
                    
                {% endfor %}
                  </ul>

              </div>
             
          </div>
        </div>
      </section>
 
      
      <section class="row">
        <header class="col-md-3">
          <h3>Work Experience</h3>
        </header>
        <div class="col-md-9">
            
          <div class="item">
          {% for company in companies %}
              
          
            <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">{{company.companyName}}</h4>
            <strong>{{company.companyRole}}</strong>

            
                <p class="sticky">{{company.joiningDate}} - {{company.leavingDate}}</p>
            

                        

            
                <p>{{company.workDescription}}</p>
            

            
            <ul>
                {% for role in company.projectRoles %}
                    <li>{{role}}</li>
                {% endfor %}
                
            </ul>
            {% endfor %}
            
          </div>
          
             </section>
     
      <section class="row">
        <header class="col-md-3">
          <h3>Projects</h3>
        </header>
        <div class="col-md-9">
            
          <div class="item">
            <h3>BetaFrontpage</h3>

            
                <strong>Frontend and backend developer</strong><br>
            

            <p class="sticky">8.2014</p>
            

                <p class="sticky">
                    <a href="http://www.betafrontpage.com">http://www.betafrontpage.com</a>
                </p>
            
            <p>BetaFrontpage lists startups frontpages. Full screenshots for inspiration and product discovery.</p>

            
            <ul>
                
                <li><a href="http://www.pylonsproject.org/">Pyramid web framework</a>.</li>
                
                <li><a href="https://docker.com/">Docker</a> for screenshot grabbing service.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>Wwwino.pl</h3>

            
                <strong>Developed web spider and search engine. Frontend and backend developement.</strong><br>
            

            
            <p class="sticky">2014 - Present</p>
            

            
                <p class="sticky">
                    <a href="http://wwwino.pl">http://wwwino.pl</a>
                </p>
            
            <p>Wine search engine and price comparator for Polish wine consumers.</p>

            
            <ul>
                
                <li><a href="http://www.pylonsproject.org/">Pyramid web framework</a>.</li>
                
                <li>ElasticSearch.</li>
                
                <li>Web scrapping.</li>
                
            </ul>
            
          </div>
          
          <div class="item">
            <h3>Piwwwo.pl</h3>

            
                <strong>Frontend and backend developer</strong><br>
            

            
            <p class="sticky">08-2014</p>
            

            
                <p class="sticky">
                    <a href="http://piwwwo.pl">http://piwwwo.pl</a>
                </p>
            
            <p>Piwwwo.pl is a beer journal and brewery database.</p>

            
            <ul>
                
                <li><a href="http://www.pylonsproject.org/">Pyramid web framework</a>.</li>
                
                <li>SQLAlchemy ORM framework.</li>
                
                <li>PostgreSQL database.</li>
                
            </ul>
            
          </div>
          
        </div>
      </section>
      
      <section class="row">
        <header class="col-md-3">
          <h3>Education</h3>
        </header>
        <div class="col-md-9">

          {% for study in education %}
             <div class="">
            <h4 style="font-weight: normal !important;
    font-family: Helvetica !important;">{{study.instituteName}}, {{study.instituteLocation}}</h4>
            <p>{{study.courseName}}</p>
            <p >{{study.courseDuration}}</p>
            
          </div>   
            {% endfor %}  
          
          
        </div>
      </section>
      

      
      <section class="row">
        <header class="col-md-3">
          <h3>Interests</h3>
        </header>
        <div class="col-md-9">

        <ul>
          
          <li>General Computer Science</li>
          
          <li>Web scalability and performance</li>
          
          <li>Science</li>
          
          <li>Astronomy</li>
          
          <li>Motorsport</li>
          
          <li>Football</li>
          
        </ul>
        </div>
      </section>
  
      <div class="footer ">
        <p class="pull-right">
      
          <a href="{% static 'latestResume.docx' %}">Download PDF</a> |
          <a href="#" onclick="javascript:window.print(); return false">Print</a> |
          <a href="#">Top</a>
        </p>
        
      </div>

    </div>
  </div>
</div>
{% endblock %}
